html {
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  width: 100%;
}

* {
  box-sizing: border-box;
}
